<!--<h1>About</h1>-->

<div class="info-card">
    <!--<div class="circle">-->
    <!--</div>-->
    <p>
מסלול תלפיות הייטק קולט מועמדים בעלי פסיכומטרי מעל 700 ומצטיינים במקצועות ריאליים 
לתהליך הכשרה אינטנסיבי וייעודי המקנה לבוגריו יתרון על רוב בוגרי התארים.
    </p>
        <img class="dot1" src="/imgs/lab.png" />
</div>
<div class="info-card">
    <!--<div class="circle">-->
    <!--</div>-->
    <p>
אצלנו תעבוד כמפתח תוכנה תוך שנה מתהליך ההכשרה בטכנולוגיות הכי חדשות שיש 
ותוך שלוש שנים (המקבילים ללימודי תואר) תהיה עם ניסיון תעסוקתי של שנתיים ורווח של מאות 
אלפי שקלים לעומת בוגר תואר ראשון.
    </p>
        <img class="dot2" src="/imgs/Calendar_Noun_project_1194.svg.png" />
</div>
<div class="info-card">
    <!--<div class="circle">-->
    <!--</div>-->
    <p>
        אתה לא חייב לוותר על התואר.<br>
        את התואר תוכל לעשות דרכנו בזמן העבודה.
    </p>
        <img class="dot3" src="/imgs/Diploma-256.png" />
</div>