<table class="compare-container">
    <thead>
        <td class="year-col"></td>
        <th>מסלול תלפיות</th>
        <th></th>
        <th>מסלול תואר</th>
        <th></th>
    </thead>
    <tr>
        <td class="year-col">שנה ראשונה</td>
        <td>הכשרה</td>
        <td class="talpiot-td"><span class="show-on-hover">ללא עלות</span></td>
        <td>לימודים</td>
        <td class="degree-td"><span class="show-on-hover">עלות של 11,000 ש"ח</span></td>
    </tr>
    <tr>
        <td class="year-col">שנה שנייה</td>
        <td>עבודה כמפתח/ת תכנה</td>
        <td class="talpiot-td"><span class="show-on-hover">והכנסה מהעבודה</span></td>
        <td>לימודים</td>
        <td class="degree-td"><span class="show-on-hover">עלות של 11,000 ש"ח</span></td>
    </tr>
    <tr>
        <td class="year-col">שנה שנייה</td>
        <td>עבודה כמפתח/ת תכנה</td>
        <td class="talpiot-td"><span class="show-on-hover">והכנסה מהעבודה</span></td>
        <td>לימודים</td>
        <td class="degree-td"><span class="show-on-hover">עלות של 11,000 ש"ח</span></td>
    </tr>
    <tr>
        <td class="year-col">שנה רביעית</td>
        <td>עבודה כמפתח/ת תכנה</td>
        <td class="talpiot-td"><span class="show-on-hover">עם שנתיים ניסיון</span></td>
        <td>חיפוש עבודה</td>
        <td class="degree-td"><span class="show-on-hover">ללא ניסיון</span></td>
    </tr>
</table>
</div>

<div class="conclusion">
    <h2>הפער הכלכלי בין מסלול תלפיות למסלול תואר עומד על כ-400 אלף ש"ח לטובת מסלול תלפיות</h2>
    <p class="ext-head">אז אם את/ה מבין/ה שתלפיות הייטק היא הבחירה הנכונה והמושכלת עבורך, נותר עוד קליק אחד 
    כדי לפתוח לעצמך את הדלת להצלחה  
    </p>
    <h1>רוצה ללמוד עוד?
        <a href="http://www.talpiot-hitech.com/" target="_blank">היכנס/י לאתר</a>
    </h1>   
</div>