
<div class="headline">
    <span>
    הולך/ת לעשות תואר ראשון במדעי המחשב או בהנדסת תוכנה?
    </span>
</div>
<div class="headline second">
    <span>
    מתלבט/ת בין הטכניון, באר שבע או תל אביב?
    </span>
</div>
<div class="header-M">
    <span>רגע לפני שאת/ה נרשם/ת ללימודים</span>
    <span class="dot1">.</span>
    <span class="dot2">.</span>
    <span class="dot3">.</span>
</div>
<!--<div class="list-box">
    <p>
        &#10004; אם היית יודע שיש לך אפשרות בעוד שנה לעבוד כמפתח תוכנה מעולה
    </p>
    <p>
        &#10004;  בעוד 3 שנים להיות ראש צוות פיתוח
    </p>
  <p>
        &#10004;  להיות עם רווח של 383000  ש"ח לעומת בוגר תואר ראשון
    </p>
</div>-->
<div class="header-S">
    שווה לדעת שיש אופציה נוספת
</div>
<div class="welcome">
    <span>ברוך הבא למסלול תלפיות הייטק</span>    
</div>