<div class="form-sticky">
    <div class="form-container">
        <div class="form-section">
            <input type="text" ng-model="user.name" placeholder="שם מלא" />
        </div>
        <div class="form-section">
            <input type="phone" ng-model="user.phone" placeholder="מספר טלפון" />
        </div>
        <div class="form-section">
            <input type="email" ng-model="user.email" placeholder="דואר אלקטרוני" />
        </div>
        <div class="form-section">
            <button ng-click="onFormSubmit()">הירשם היום ></button>
        </div>
    </div>
</div>
