@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

$scrWidth: 100vw;
$scrHeight: 100%;
$gradient: '/imgs/68731263-gradient-wallpapers.png';
$codeGIF: '/imgs/scrollcode.gif';

$MainFont: "Alef Hebrew", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$S-fontsize: 1vw;
$M-fontsize: 2vw;
$L-fontsize: 3vw;
$XL-fontsize: 4vw;

$navy-blue: rgb(18, 42, 79);
$dark-red: rgb(160, 0, 37);
